.nav{
    height: 75px;
    width: 100%;
}
.nav-ul{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    list-style: none;
    padding-inline-start: 0;
}
.ul-img{
    padding-right: 50px;
}
.ul-a{
    color: rgb(213, 202, 196);
}