#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.div{
  display: flex;
  gap: 30px;
}
.div-input{
  height: 100px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  background-color: rgba(0, 0, 0, 51%);
  border-radius: 50px;
}
.div-input_img{
  height: 150px;
}
.div-input-search{
  border: none;
  border-bottom: 1px solid #d5cac4;
  font-size: 24px;
}
.div-input-search::placeholder{
  color: #7e7e7e;
}
.div-input-search:focus{
  outline: none;
}
.div-button{
  overflow: auto;
  background: none;
}